<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
        </div>
            <h1 class="logo-name">IN+</h1>
        <h3>Welcome</h3>
        <p>Log in to continue</p>
        <form class="m-t" role="form" action="#">
                <md-input-container class="full-width">
                 <input mdInput type="email" placeholder="Username" required="required">
                </md-input-container>
            <md-input-container class="full-width">
                 <input mdInput type="password" placeholder="Password" required="required">
                </md-input-container>         
            <button md-raised-button color="primary" type="submit" class="full-width">Login</button>

            <a md-button routerLink="." class="full-width"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a md-button routerLink="''" class="full-width">Create an account</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>