@import '@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. 

$material-theme-primary: mat-palette($mat-cyan);
$material-theme-accent:  mat-palette($mat-teal);
// The warn palette is optional (defaults to red).
$material-theme-warn:    mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$material-theme-theme: mat-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($material-theme-theme);

.full-width {
  width: 100%;
}
.half-width{
  width: 50%;
  float:left;
}

.login-header {
  height: 100px;
  width: 100%;
  font-size: 18px;
  //background: #1AB394;
  background: url("../assets/img/patterns/4.png") no-repeat;
  color: white;
  line-height: 150%;
  border-radius: 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.login-form {
  box-sizing: border-box;
  width: 300px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 0;
}
.login-form .login-header {
  box-sizing: border-box;
  padding: 20px;
}
form > .login{
  margin: 15px;
}