<div class="row">
    <div *ngFor="let assembly of assemblies" (click)="selectAssembly(assembly)">
        <div class="col-md-3 animated bounceIn">
            <div class="ibox ibox-no-shadow">
                <div class="ibox-content text-center" style="padding-bottom: 10px;">
                    <h5>{{assembly.name}}</h5>
                    <div class="m-b-sm">
                        <img alt="image" class="img-rounded grid-img" src="{{ASSETS_FOLDER}}/{{assembly.assemblyId}}.png">
                        <div class="text-center">
                            <small>{{assembly.code}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>