<!--tslint:disable-->
<div class="middle-box text-center loginscreen  animated fadeInDown">

    <div class="login-form">
        <div class="login-header">
            <h3>{{'LOGIN.WELCOME' | translate}}</h3>
            <p>{{'LOGIN.LOG_IN_TO_CONTINUE' | translate}}</p>
        </div>

        <form #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="isLoggedIn" class="m-t" style="margin: 15px;">
            <md-input-container class="full-width">
                <input mdInput type="email" name="username" placeholder="{{'LOGIN.USERNAME' | translate}}" required="required" [(ngModel)]="username">
                <md-hint *ngIf="f.hasError('required','username') && f.controls['username'].touched" [ngStyle]="{'color': 'red'}" align="start">{{'LOGIN.EMAIL_IS_REQUIRED_HINT' | translate}}</md-hint>
                <md-hint *ngIf="f.hasError('pattern','username')" [ngStyle]="{'color': 'red'}" align="start">{{'LOGIN.EMAIL_PATTERN_HINT' | translate}}</md-hint>
            </md-input-container>
            <md-input-container class="full-width">
                <input mdInput type="password" name="password" placeholder="{{'LOGIN.PWD' | translate}}" required="required" [(ngModel)]="password">
                <md-hint *ngIf="f.hasError('required','password') && f.controls['password'].touched" [ngStyle]="{'color': 'red'}" align="start">{{'LOGIN.PASSWORD_IS_REQUIRED_HINT' | translate}}</md-hint>
            </md-input-container>
            <button [disabled]="!f.valid" md-raised-button color="primary" type="submit" class="full-width"><small>{{'LOGIN.LOGIN' | translate}}</small></button>
            <p></p>
            <a md-button routerLink="." class="half-width"><small>{{'LOGIN.FORGOT_PASSWORD'| translate}}?</small></a>
            <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>-->
            <a md-button routerLink="''" class="half-width"><small>{{'LOGIN.CREATE_AN_ACCOUNT' | translate}}</small></a>
        </form>
        <p class="m-t"> <small>Dmitriy Potapov &copy; 2017</small> </p>
    </div>
</div>